#open {
    position: fixed;
    text-align: center;
    top: 20%;
    right: 0;
    z-index: 99999;
    background-image: url(../img/menu/sec2_btn2.jpg);
    background-repeat: no-repeat;
    height: 207px;
    width: 44px;
    cursor: pointer;
    text-indent: 100%;
    white-space: nowrap;
}