@charset "utf-8";
/*=============================================
 * body
 *=============================================*/

body {
	min-width: inherit;
	max-height: 100%;
	color: #000;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	line-height: 2;
	font-size: 14px;
	cursor: auto;
	letter-spacing: 0;
	word-spacing: normal;
	text-align: left;
	background: url(../img/shared/bg.jpg) repeat;
}
.navOpen {
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
.navOpen #pagetop {
	z-index: -1;
}
body.navOpen, body.navOpen *, body.navOpen *:hover, body.navOpen *:focus, body.navOpen *:active {
	/*    cursor: none !important;*/
	touch-action: none !important;
	pointer-events: none !important;
}
body.navOpen .hamburger, body.navOpen #menu_toggle, body.navOpen #menu_toggle * {
	touch-action: auto !important;
	pointer-events: visible !important;
}
.fnt-mincho {
	font-family: 'Noto Serif JP', serif;/*	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
}
.fnt-meiryo {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.fnt-gothic {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.block::after {
	clear: both;
	content: "";
	display: block;
}
.txt-center {
	text-align: center;
}
.txt_b {
	font-weight: bold;
}
a:hover {
	text-decoration: none;
}
/*=============================================
 * header
 *=============================================*/
.header-top {
	width: 100%;
	z-index: 100;
}

header .logo {
	width: 140px;
	position: absolute;
	left: 10px;
	top: 19px;
}
header h1 {
	position: absolute;
	font-size: 2.6vw;
	font-weight: normal;
	z-index: 10;
	left: 12px;
	top: 80px;
	color: #FFF;
	text-shadow: 1px 0 0 rgba(0,0,0,1), -1px 0 0 rgba(0,0,0,1);
}
header {
	position: relative;
	padding-top: 70px;
	background: url(../img/shared/bg_ft.jpg) repeat-x;
}

.logo_kv {
	width: 185px;
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 90;
}

.logo_kv_page {
	position: absolute;
	padding-top: 5%;
	left: 50%;
	transform: translate3d(0, -50%, 0);
	z-index: 90;
	width: 100%;
}

.logo_kv_page a {
	width: 160px;
	display: block;
	margin: auto;
}

#key .slick-arrow {
	display: none !important;
}

.navOpen header .logo {
	opacity: 0;
}

.navOpen .header-top {
	border-bottom: none;
}
/*====================== nav ====================== */

header .topnavi {
	position: absolute;
	bottom: 3px;
	right: 5px;
	height: 54px;
}
header .topnavi li {
	display: inline-block;
	position: relative;
	width: 60px;
	vertical-align: top;
}
header .topnavi li a {
	color: #fff;
	font-size: 11px;
	line-height: 23px;
	text-align: center;
	display: block;
	height: 100%;
	padding-top: 5px;
	width: 100%;
}
header .topnavi li a:hover {
	text-decoration: none;
}
header .topnavi li a[class^="icon-"]:before {
	display: block;
	width: 100%;
	padding-bottom: 4px;
	font-size: 19px;
	font-weight: normal;
}
header .menu_toggle {
	padding: 35px 0px 65px;
	background: url(../img/shared/bg_ft.jpg) repeat;
	color: #FFF;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
header .sub_click {
	display: block;
	padding: 9px 0;
	position: relative;
}
header .sub_click:before {
	content: '';
	position: absolute;
	width: 15px;
	border-top: 1px solid #fff;
	right: 5px;
	top: 22px;
	animation: smoky-out 0.7s 0s both;
}
header .sub_click:after {
	content: '';
	position: absolute;
	height: 15px;
	border-left: 1px solid #fff;
	right: 12px;
	top: 15px;
	animation: smoky-out 0.7s 0s both;
}
header .sub_click.open:after, header .sub_click.open:before {
	animation: smoky 0.7s 0s both;
}
header .sub_click.open:after {
	opacity: 0;
}

.close-btn {
	display: block;
	padding: 20px 0;
	font-size: 18px;
	line-height: 20px;
}
 @keyframes smoky {
 50% {
 filter: blur(3px)
}
 100% {
 filter: blur(0px)
}
}
 @keyframes smoky-out {
 50% {
 filter: blur(3px)
}
 100% {
 filter: blur(0px)
}
}
#menu_toggle li {
	transform: matrix(1, 0, 0, 1, 0, 25);
	transition: all ease 0.5s 0.3s;
	opacity: 0;
	text-align: center;
}

#menu_toggle li:nth-child(2) {
	transition: all ease 0.5s 0.35s;
}

#menu_toggle li:nth-child(3) {
	transition: all ease 0.5s 0.4s;
}

#menu_toggle li:nth-child(4) {
	transition: all ease 0.5s 0.45s;
}

#menu_toggle li:nth-child(5) {
	transition: all ease 0.5s 0.5s;
}

#menu_toggle li:nth-child(6) {
	transition: all ease 0.5s 0.55s;
}
#menu_toggle li:nth-child(7) {
	transition: all ease 0.5s 0.6s;
}
#menu_toggle li:nth-child(8) {
	transition: all ease 0.5s 0.65s;
}

#menu_toggle li:nth-child(9) {
	transition: all ease 0.5s 0.7s;
}
#menu_toggle li:nth-child(10) {
	transition: all ease 0.5s 0.75s;
}
#menu_toggle li:nth-child(11) {
	transition: all ease 0.5s 0.8s;
}
#menu_toggle li:nth-child(12) {
	transition: all ease 0.5s 0.85s;
}
#menu_toggle li:nth-child(13) {
	transition: all ease 0.5s 0.9s;
}

#menu_toggle li:nth-child(14) {
	transition: all ease 0.5s 0.95s;
}

#menu_toggle li:nth-child(15) {
	transition: all ease 0.5s 1s;
}

#menu_toggle li:nth-child(16) {
	transition: all ease 0.5s 1.05s;
}

#menu_toggle li:nth-child(17) {
	transition: all ease 0.5s 1.1s;
}

#menu_toggle li:nth-child(18) {
	transition: all ease 0.5s 1.15s;
}

#menu_toggle .sub_scroll_box li {
	margin: 0 20px;
	border: none;
}
#menu_toggle .sub_scroll_box li a {
	padding: 5px 0;
}
#menu_toggle .sub_scroll_box li:last-child {
	border-bottom: none;
}
.navOpen .menu_toggle.nav-style01 {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	right: 0;
}
.navOpen #menu_toggle {
	opacity: 1;
	visibility: visible;
	pointer-events: visible;
}
.navOpen #menu_toggle li {
	opacity: 1;
	transform: matrix(1, 0, 0, 1, 0, 0);
}
.navOpen.mn_tyle_a li {
	text-align: left !important;
}
.navOpen.mn_tyle_a .hamburger {
	opacity: 0;
	visibility: hidden;
}
.navOpen.mn_tyle_a .hamburger.type_a {
	opacity: 1;
	visibility: visible;
}
.navOpen .hamburger.type_a {
	opacity: 0;
	visibility: hidden;
}
header .menu_toggle.nav-style01 {
	top: 0px;
	right: -100%;
	display: block;
	transition: all 0.5s ease 0s;
}
.navOpen .menu_toggle.nav-style01 {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	right: 0;
}
.hamburger {	
	position: fixed;
	top: 14px;
	z-index: 100;
	right: 10px;
	color: #FFF;
}
.hamburger:after {
	font-size: 10px;
	content: 'MENU';
	position: absolute;
	width: calc(100% - 38px);
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	left: 0;
}
.type_a {
	padding: 11px 10px 3px;
	right: auto;
	left: 15px;
}
.type_a:after {
	display: none;
}
.navOpen .hamburger:after {
	content: 'CLOSE';
}

.btn-web {
	background: url(../img/shared/bg_ft.jpg) repeat;
	margin: 30px 30px 0 !important;
	position: relative;
	box-sizing: border-box;
	padding-left: 20px;
	border: 1px solid rgba(255,255,255,0.3);
}

.btn-web a {
	color: #FFF !important;
	padding: 10px !important;
	text-align: left;
	letter-spacing: 0.15em;
	font-size: 14px;
}

.btn-web .icon-angle-right:before {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: #FFF;
	padding: 5px;
	border-radius: 50%;
}

.btn-web.is-btn {
	background: #3A4F5A;
}
/*====================== end nav ====================== */

/*====================== header key ====================== */

header #key {
	position: relative;
	overflow: hidden;
	margin-bottom: -12px;
}
.bx-wrapper {
	position: relative;
}
.bx-wrapper .bx-pager {
	color: #ffee00;
	font-family: Arial;
	font-size: 0.85em;
	font-weight: bold;
	text-align: center;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	line-height: 10px;
	bottom: 5%;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 60;
}
.bx-controls-direction {
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -20px;
	width: 100%;
	z-index: 60;
}
.bx-wrapper .bx-controls-direction a {
	color: #000;
	font-family: "fontello";
	font-size: 40px;
	height: 40px;
	line-height: 40px;
	outline: 0 none;
	position: absolute;
	text-indent: -9999px;
	top: 0%;
	width: 26px;
}
.bx-prev::after {
	content: "\f104";
	left: 11px;
	position: absolute;
	text-indent: 0;
	top: 0;
}
.bx-next::after {
	content: "\f105";
	left: 0;
	position: absolute;
	text-indent: 0;
	top: 0;
}
.bx-prev {
	position: absolute;
	top: 0;
	left: 0;
}
.bx-next {
	position: absolute;
	top: 0;
	right: 0;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #000;
	border-radius: 5px;
	display: block;
	height: 10px;
	margin: 0 5px;
	outline: 0 none;
	text-indent: -9999px;
	width: 10px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #be0900 none repeat scroll 0 0;
}
.sl_vertical .bx-pager {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	left: auto;
	width: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sl_vertical .bx-pager-item {
	display: block;
	margin: 5px 0;
}
/*====================== end nav ====================== */

section {
	overflow: hidden;
}
/*=============================================*/

/*                   　footer　　　　　          */

/*=============================================*/

footer {
	padding: 40px 0 50px;
	background: url(../img/shared/bg_ft.jpg) repeat;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	letter-spacing: 0.1em;
}

footer .logo {
	margin: auto;
	padding-bottom: 15px;
	width: 200px;
	border-bottom: 1px solid #493c30;
}

footer .tel {
	padding: 25px 0;
	line-height: 1.5;
	font-family: 'Noto Serif JP', serif;
}

footer .btn-lk {
	text-align: center;
	padding-bottom: 20px;
}

footer .btn-lk a {
	width: 250px;
	height: 40px;
	background: url(../img/shared/bg3.jpg) repeat;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	line-height: 38px;
	position: relative;
	margin: auto;
	display: block;
	font-family: 'Noto Serif JP', serif;
	font-size: 13px;
}

footer .btn-lk a::before {
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	content: "";
	border: #ffee00 solid 1px;
	opacity: 0.3;
}

footer .tel span {
	font-size: 22px;
}

footer .tel i {
	font-size: 10px;
}

.info-list {
	padding: 0px 5% 20px;
	text-align: left;

}

.info-list p {
	margin-bottom: 10px;
}

.info-list .btn {
	padding-top: 20px;
}

.info-list span {
	display: inline-block;
}

.info-list a {
	font-weight: bold;
	font-size: 12px;
}

.info-list dl {
	padding: 5px 0;
	text-align: left;
	display: flex;
	font-size: 13px;
}

.info-list dl dt {
	width: 20%;
}

.info-list dl dd {
	width: 80%;
}

.box-address {
	background: url(../img/shared/bg_sns.jpg) repeat;
}


footer address {
	font-size: 11px;
	text-align: center;
	padding: 10px 0 15px;
}

.btn-footer {
	position: fixed;
	z-index: 98;
	width: 100%;
	bottom: 0;
	color: #FFF;
	background: url(../img/shared/bg_ft.jpg) repeat;
	height: 50px;
	transition: all 0.4s ease;
	padding: 2px;
	box-sizing: border-box;
	border-top: 1px solid #493c30;
}

.btn-footer::before {
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 79%;
	content: "";
	background: #493c30;
}

.btn-footer::after {
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 20%;
	content: "";
	background: #493c30;
}

.btn-footer ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 46px;
}

.btn-footer ul li {
	width: 20%;
	height: 100%;
	position: relative;
}

.btn-footer ul li:nth-child(2) {
	width: 60%;
	height: 100%;
	position: relative;
}

.btn-footer ul li a {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	position: relative;
	line-height: 1.2;
	text-align: center;
	box-sizing: border-box;
	letter-spacing: 0.1em;
}

.btn-footer ul li a.icon-location,
.btn-footer a.icon-phone {
	padding-top: 25px;
}

.btn-footer ul li a.icon-angle-right {
	padding: 14px 10px 0 0;
}

.btn-footer .icon-phone:before,
.btn-footer .icon-link-ext-alt:before,
.btn-footer .icon-location:before {
	display: block;
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
}

.btn-footer ul li a.icon-angle-right:before {
	top: 15px;
	right: 15px;
	position: absolute;
}

/*====================== ft_fixed ====================== */

#ft_fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	font-size: 12px;
}
.navOpen #ft_fixed {
	z-index: 0;
}
.has_nav #ft_fixed {
	opacity: 1;
	visibility: visible;
}
.ft_fixed_shared {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row;
	text-align: center;
	width: 100%;
	border-top: 1px solid #fff;
	z-index: 100;
}
.ft_fixed_shared li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.33%;
	color: #fff;
	background-color: #000;
	border-right: 1px solid #fff;
}
.ft_fixed_shared li:last-child {
	border-right: 0;
}
.ft_fixed_shared li a {
	display: block;
	padding: 8px 10px 8px 0;
	font-size: 12px;
	position: relative;
}
.ft_fixed_shared li a:before {
	font-size: 12px;
}
.ft_fixed_shared li a:after {
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	content: '\f105';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
}
.ft_fixed_shared.ft_a li {
	width: 100%;
}
.ft_fixed_shared.ft_b li {
	width: 50%;
}
.ft_fixed_shared.ft_c li {
	width: calc((100% - 50px)/3);
}
.ft_fixed_shared #pagetop {
	position: relative;
	top: auto;
	bottom: auto;
	width: 50px;
}
.ft_fixed_shared #pagetop:before {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
}
.ft_d a, .ft_c a, .ft_b a, .ft_a a {
	padding: 3px 10px 3px 0!important;
}
.ft_a a:after, .ft_b a:after, .ft_c a:after, .ft_d a:after {
	right: 8px !important;
}
.ft_fixed_shared.ft_c li:nth-child(2) {
	min-width: 110px;
}
.ft_fixed_shared.ft_e li {
	border: none;
	width: calc(100% - 174px);
}
.ft_fixed_shared.ft_e li a {
	padding: 8px 23px 8px 0;
}
.ft_fixed_shared.ft_e .btn_reserve {
	padding: 8px 10px;
	width: 130px;
}
.ft_fixed_shared.ft_e .btn_reserve a {
	background-color: #fff;
	color: #000;
	padding: 0 15px 0 0px;
	border-radius: 2px;
}
.ft_fixed_shared.ft_e li.icon-up-dir {
	position: relative;
	top: auto;
	bottom: auto;
	width: 44px;
	border-left: 1px solid #fff;
}
.ft_fixed_shared.ft_e li.icon-up-dir:before {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
}
#pagetop {
	bottom: 60px;
	width: 50px;
}
.mb0 {
	margin-bottom: 0;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb30 {
	margin-bottom: 30px;
}

.mb50 {
	margin-bottom: 50px;
}
/*=============================================*/

/*                   　index　　　　　          */

/*=============================================*/


.js_full .bx-viewport {
	overflow: visible !important;
	padding: 0 5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.js_full_ext {
	padding-left: 0;
}
.js_full_ext .js_in {
	padding-left: 5%;
}
.js_full_ext img {
	width: 90%;
}
.js_full_ext .bx-prev {
	display: none;
}
.js_full_ext .bx-next {
	right: -18%;
}
.wrap {
	padding: 0 3% 12%;
}
.wrap p {
	padding-bottom: 15px;
}
h2 {
	font-size: 18px;
	font-weight: bold;
}
.cl_red {
	color: #E4070B;
}
.fz-10 {
	font-size: 10px;
}
.fz-12 {
	font-size: 12px;
}
.fz-14 {
	font-size: 14px;
}
.fz-16 {
	font-size: 16px;
}
.fz-18 {
	font-size: 18px;
}
.fz-20 {
	font-size: 20px;
}
.fz-22 {
	font-size: 22px;
}
.fz-24 {
	font-size: 24px;
}
.fz-26 {
	font-size: 26px;
}
.fz-28 {
	font-size: 28px;
}
.fz-30 {
	font-size: 30px;
}

.bnr_shared {
	width: 66%;
	margin: 0 auto;
}
.bnr_shared a {
	display: block;
	background-color: #000;
	color: #fff;
	padding: 10px 5px 10px 15px;
	font-size: 15px;
	font-weight: bold;
}
.bnr_shared a .icon-angle-right {
	float: right;
	padding-right: 5px;
}
.bnr_shared_w90 {
	width: 90%;
}
.bnr_shared_w100 {
	width: 100%;
}
.toggle .accor4:after {
	color: #000;
	display: block;
	position: static;
	margin-top: 0;
}
.pop_icon i {
	display: block;
}
#bg_parallax  {
	position: relative;
}
#bg_parallax  .info2 {
	bottom: 0;
	top: auto;
}

#bg_parallax h2 {
	z-index: 99;
	padding: 100px 0;
}

#bg_parallax h2::before {
	width: 1px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: #FFF;
	content: "";
}


.common {
	margin: 0 3.5%;
	padding-bottom: 30px;
}

.common-small {
	margin: 0 3.5%;
}

.slick-arrow {
	width: 40px;
	height: 40px;
	background: rgba(40, 27, 18, 0.6);
	position: absolute;
	bottom: -7%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #FFF;
	z-index: 90;
	border-radius: 50%;
	text-indent: -9999px;
}

.slick-arrow::before {
	font-size: 16px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	content: '\f105';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-indent: 0;
}

.slick-prev {
	left: 6%;
}

.slick-prev.slick-arrow::before {
	content: '\f104';
}

.slick-next {
	right: 6%;
}

.slick-dots {
	position: absolute;
	bottom: -6%;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}

.slick-dots li {
	margin: 0 8px;
}

.slick-dots li button {
	width: 10px;
	height: 10px;
	background: #000;
	text-indent: -9999px;
	position: relative;
	border: none;
	border-radius: 50%;
}

.slick-dots li.slick-active button::before {
	border: 1px solid #000;
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border-radius: 50%;
}

.color_red {
	color: #e60012;
}

.ttl-common {
	position: relative;
	text-align: center;
	font-family: 'Noto Serif JP', serif;
	letter-spacing: 0.15em;
	font-size: 5.8vw;
	line-height: 1.7;
	font-weight: normal;
}

.ttl-common span {
	font-size: 130%;
  color: #8e0101;
}

.btn_common {
	margin: 0 5%;
}

.line::before {
	width: 1px;
	height: 50px;
	content: "";
	background: #e60012;
	position: absolute;
	top: 0;
	left: 50%;
	transition: all 0.3s ease 0.5s;
}

.social-facebook {
	max-width: 98px;
	display: flex !important;
  justify-content: center;
}

.fb-like span {
	width: 98px;
}

/*=============================================*/
/*==================== index ==================*/
/*=============================================*/
#index img {
	display: block;
	width: 100%;
	height: auto;
}

#index #lead {
	position: relative;
	z-index: 88;
	padding-bottom: 40px;
}
#index #lead p {
	position: relative;
	margin-top: -15%;
}

#index #sec01{
	background: url(../img/index/bg_img.jpg) no-repeat bottom center, url(../img/index/bg_sec1.jpg) repeat top center;
	background-size: 100% auto, auto;
	padding-bottom: 20px;
}

#index #sec02 {
	padding: 20px 0 0;
}

#index #sec02 h2 {
	background: url(../img/index/bg_ttl.jpg) no-repeat bottom center;
	background-size: 100% auto;
	padding-bottom: 8%;
	margin-bottom: 20px;
}

#index #sec03 {
	background: url(../img/index/bg_sec3.jpg) no-repeat top center, url(../img/shared/bg_ft.jpg) repeat top center;
	background-size: 100% auto, auto;
	color: #FFF;
	padding: 70px 0 45px;
}

#index #sec03 h2 {
	margin-bottom: 35px;
}

#index #sec03 h2 span {
	color: #FFF;
}
#index #sec03 dl dt {
	padding-top: 10px;
	margin-bottom: -8%;
}

#index #sec03 dl dd {
	position: relative;
}

#index #sec04 {
	padding: 40px 0 0;
}

#index #sec04 h2 {
	font-size: 4.7vw;
	margin-bottom: 25px;
}

.box-sns {
	padding: 35px 0 15px;
	background: url(../img/index/bg_blog.jpg) repeat top center;
}

.box-sns h2 {
	padding: 0 0 30px;
	background: url(../img/index/icon.png) no-repeat bottom center;
	background-size: 50px auto;
}

.box-sns #feed {
	padding: 10px 20px 25px;
	max-width: 400px;
	margin: auto;
}

.box-sns #feed .row {
	padding: 5px 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-sns #feed dl {
	width: 100%;
	display: flex;
	border-bottom: 1px solid #bbb4a4;
}

.box-sns #feed dl dt {
	width: 35%;
}

.box-sns #feed dl dd {
	width: 65%;
}

/*=============================================*/
/*==================== menu ==================*/
/*=============================================*/
#menu img {
	display: block;
	width: 100%;
	height: auto;
}

#menu #lead {
	position: relative;
	z-index: 88;
	background: url(../img/shared/line.jpg) repeat-x top center, url(../img/menu/bg_lead.jpg) no-repeat top center,
	url(../img/shared/bg_ft.jpg) repeat top center;
	background-size: 100% auto, auto;
	color: #FFF;
	padding: 40px 0 0;
}

#menu #lead h2 {
	margin-bottom: 20px;
}

#menu #lead h2 span {
	color: #FFF;
}

#menu #sec01 {
	padding: 65px 0 45px;
	position: relative;
	z-index: 88;
	background: url(../img/index/bg_blog.jpg) repeat top center;
}

#menu #sec01 .box {
	margin: 0 5% 0;
	border: 1px solid #6d5d30;
	padding: 0 5% 5%;
}

#menu #sec01 .box h2 {
	text-align: center;
	font-size: 20px;
	margin-bottom: -10px;
}

#menu #sec01 .box h2 span {
	position: relative;
	top: -20px;
	background: url(../img/index/bg_blog.jpg) repeat top center;
	padding: 0 20px;
}

#menu #sec01 .box dl {
	padding: 5px 0 25px;
	background: url(../img/menu/icon.png) no-repeat top center;
	padding-top: 50px;
}

#menu #sec01 .box dl dt {
	font-weight: bold;
	font-size: 15px;
	padding-left: 15px;
	text-indent: -15px;
	margin-bottom: 5px;
}

#menu #sec01 .box dl dd {
	padding-left: 15px;
	text-indent: -15px;
}

#menu #sec02 {
	background: url(../img/menu/bg_common.jpg) repeat-x top center;
	padding-top: 50px;
}

#menu #sec02 .box {
	background: url(../img/menu/bg_box.jpg) repeat top center;
	margin: 0 5% 10%;
	padding: 20px 15px 25px;
}

#menu #sec02 .box dl dd span {
	color: #000;
	font-size: 20px;
	padding: 15px 0 5px;
	display: block;
}

#menu #sec02 h3 span {
	color: #000;
	background: url(../img/index/icon.png) no-repeat bottom center;
	padding-bottom: 40px;
	background-size: 50px auto;
	display: block;
	margin-bottom: 25px;
}

#menu #sec02 .box .item .photo {
	position: relative;
	padding: 0 5%;
}

#menu #sec02 .box .item .photo img {
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}



#menu #sec02 .box .item .photo::before {
	background: url(../img/menu/item.png) no-repeat;
	width: 80px;
	height: 80px;
	background-size: cover;
	content: "";
	position: absolute;
	top: -20px;
	left: -10px;
}

#menu #sec02 .item dl dt {
	text-align: center;
	font-size: 20px;
	letter-spacing: 0.1em;
	padding-top: 15px;
}

#menu #sec02 .item dl dd.ttl {
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
}


#menu #sec02 .item dl dd.ttl span {
	font-size: 22px;
}

.field {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0 20px;
}
.field button {
	cursor: pointer;
	width: 30px;
	height: 40px;
	border: 1px solid #000;
	text-align: center;
	font-size: 14px;
	background: #fff;
	vertical-align: top;
	margin: 0 2px;
}

.field .var-number {
	width: 85px;
	height: 40px;
	border: 1px solid #000;
	text-align: center;
	font-size: 18px;
	vertical-align: top;
}

.field label {
	margin: 0 8px;
}

#menu #sec02 .item .item-box {
	margin-bottom: 20px;
	padding-top: 10px;
}

#menu #sec02 .item .btn-pop {
	text-align: center;
}

#menu #sec02 .item .btn-pop a {
	text-decoration: underline;
  color: #290711;
}

.img-l {
	padding-top: 20px;
}

#menu #sec02 .menu-item {
	margin: 0 5%;
	padding: 25px 0 5px;
}

#menu #sec02 .menu-item .photo img {
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#menu #sec02 .menu-item .item {
	padding: 5px 0 35px;
}

.btn-link {
	padding: 0 3%;
}

#menu #sec03 {
	background: url(../img/index/bg_blog.jpg) repeat;
	padding: 40px 0 10px;
}

#menu #sec03 dl {
	margin: 0 5% 10px;
	padding: 20px 0;
	border-bottom: 1px dotted #493c30;
}

#menu #sec03 dl dt {
	text-align: center;
	margin-bottom: 15px;
}

#menu #sec03 dl dt span {
	border: 1px solid #000;
	padding: 5px 10px;
}

/*=============================================*/
/*==================== scene =================*/
/*=============================================*/
#scene img {
	display: block;
	width: 100%;
	height: auto;
	margin: auto;
}

#scene #lead {
	position: relative;
	z-index: 88;
	background: url(../img/shared/line.jpg) repeat-x top center, url(../img/menu/bg_common.jpg) repeat-x top center;
	padding: 40px 0 0;
}

#scene #lead .box {
	background: url(../img/scene/bg.jpg) no-repeat top center;
	background-size: 100% auto;
	padding-bottom: 25px;
}

#scene #lead h2 {
	margin-bottom: 25px;
}

#scene #sec01 {
	background: url(../img/shared/bg_ft.jpg) repeat;
	background-size: 50% auto;
	color: #FFF;
}

#scene #sec01 h2 {
	margin-bottom: 20px;
}

#scene #sec01 .dl01 {
	margin-bottom: -25%;
	position: relative;
}

/*=============================================*/
/*=================== common ==================*/
/*=============================================*/


.is-hide {
	display: none;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadein {
  -webkit-animation-name: fadein;
  animation-name: fadein;
}


@-webkit-keyframes fadeup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeup {
  -webkit-animation-name: fadeup;
  animation-name: fadeup;
}

.img_parallax {
	clip: rect(0, auto, auto, 0);
	margin-bottom: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.img_parallax img {
	width: 100%;
	height: 100vh !important;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	object-fit: cover;
	z-index: 0;
	transform: translateZ(0);
}


.bg_parallax.box1 {
	position: relative;
	padding-top: 80%;
}

.bg_parallax.box1 h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}